<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="/css/StyleSheet.css">

<title>Edit permit</title>
</head>
<body th:style="'background: url(/images/bkgfabric01.jpg) repeat center center fixed;'">
    <div align="center">
        <h1>Edit permit</h1>
        <br />
        <form action="#" th:action="@{/action}" th:object="${permit}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>              
                    <td>permit ID:</td>
                    <td><input type="text" th:field="*{id}" readonly="readonly" /></td>
                </tr>
                         
                <tr>
                    <td>Permit Spot:</td>
                    <td><input type="text" th:field="*{spot_nbr}" /></td>
                    	<td th:if="${#fields.hasErrors('spot_nbr')}" th:style= "${'color: red;'}" th:errors="*{spot_nbr}">Name Error</td>
                </tr>
                <tr>              
                    <td>First Name:</td>
                    <td><input type="text" th:field="*{first_name}" />
                    	<td th:if="${#fields.hasErrors('first_name')}" th:style= "${'color: red;'}" th:errors="*{first_name}">Name Error</td>
                    </td>
                </tr>
				<tr>              
                    <td>Last Name:</td>
                    <td><input type="text" th:field="*{last_name}" />
                        <td th:if="${#fields.hasErrors('last_name')}" th:style= "${'color: red;'}" th:errors="*{last_name}">Name Error</td>
                    </td>
                <tr>
                    <td>Car Make:</td>
                    <td><input type="text" th:field="*{car_make}" /></td>
                    	<td th:if="${#fields.hasErrors('car_make')}" th:style= "${'color: red;'}" th:errors="*{car_make}">Name Error</td>
                </tr>
                <tr>
                    <td>Car Model:</td>
                    <td><input type="text" th:field="*{car_model}" /></td>
                    	<td th:if="${#fields.hasErrors('car_model')}" th:style= "${'color: red;'}" th:errors="*{car_model}">Name Error</td>
                </tr>
                </tr>
                    <td>Car Color:</td>
                    <td><input type="text" th:field="*{car_color}" /></td>
                    	<td th:if="${#fields.hasErrors('car_color')}" th:style= "${'color: red;'}" th:errors="*{car_color}">Name Error</td>
                </tr>    
                <tr>
                    <td>Car Tag:</td>
                    <td><input type="text" th:field="*{car_tag_nbr}" /></td>
                    	<td th:if="${#fields.hasErrors('car_tag_nbr')}" th:style= "${'color: red;'}" th:errors="*{car_tag_nbr}">Name Error</td>
                </tr>

                <tr>
                    <td colspan="2">
                    	<button class="myButton-edit" type ="submit" name="action" value="edit"> SAVE</button>
                		&nbsp;&nbsp;
	    				<button class="myButton-delete" type ="submit" name="action" value="cancel">CANCEL</button>
	    				</td>
	    				</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>